* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    --bg-btn: #999;
    --X-color: #4444ff;
    --O-color: #ff4444;
}

body {
    font-size: 1.8rem;
    font-family: "Nunito", sans-serif;
}

header {
    text-align: center;
}


#players {
    display: grid;
    justify-content: space-evenly;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    grid-template-areas:
        "player1 player2";
}

#player-turn {
    text-align: center;
    margin-bottom: 1.4rem;
}

.elements {
    font-size: 5rem;
}

.the-game {
    max-height: 60vh;
    max-width: 58vw;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: minmax(6rem, auto);
    border: 0;
}

.elements {
    background-color: var(--bg-btn);
    font-size: 15rem;
    font-weight: 500;
    width: 23rem;
    height: 20rem;
}


.Xcolor {
    color: var(--X-color);
}

.Ocolor {
    color: var(--O-color);
}

.message {
    text-align: center;
    font-size: 4rem;
    color: #4bbb4b;
}